.nav_bar {
	display: flex;
	margin: auto;
	padding: 0;
	font-size: 1.3em;
	margin-bottom: 55px;
	width: 50%;
	padding-top: 150px;
	justify-content: space-between;
}

#navbar_ul_items {
	flex-direction: row;
	list-style-type: none;
	font-size: 1.1em;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: black;
}

@media only screen and (max-width: 800px) {
	.nav_bar {
		padding-top: 90px;
		margin-bottom: 0px;
		width: 85%;
		font-size: 0.7em;
	}
}

/*

#logo {
  height: 2em;
}

*/
