.nav_bar {
	display: flex;
	margin: auto;
	flex-direction: row;
	font-size: 1.3em;
	margin-top: 45px;
	margin-bottom: 20px;
}

ul {
	list-style-type: none;
	display: flex;
	margin-left: -20px;
}

li {
	padding-right: 15px;
	cursor: pointer;
}

a {
	text-decoration: underline;
	color: inherit;
}

a:hover{
	color: #0092BF;
}

#navbar_ul_items {
	
	margin: auto;
	/*box-shadow: 0 0px 0px rgba(0, 0, 0, 0), 0 0px 1px #0092BF; */
}

@media only screen and (max-width: 800px) {
  .nav_bar {
  	margin-top: 15px;
	margin-bottom: -5px;
  }
}

/*

#logo {
  height: 2em;
}

*/
