.nav_bar {
	display: flex;
	margin: auto;
	flex-direction: row;
	font-size: 1.3em;
	
	margin-bottom: 40px;
}

ul {
	list-style-type: none;
	display: flex;
}

li {
	padding-right: 15px;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover{
	color: #0092BF;
}

#navbar_ul_items {
	
	margin: auto;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


/*

#logo {
  height: 2em;
}

*/
