@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.App {
  font-family: "Open Sans", sans-serif;
  color: white;
}

#logo {
  display: flex;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 65px;
  width: 35%;
  transform: skew(0deg, 4deg);
}

.content_sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 35px;
  font-size: 1.2em;
  color: white;
  /*transform: skew(0deg, 4deg); */
}

#contact_email {
  color: white;
  text-justify: center;
  margin: auto;
  font-weight: bold;
}

#highlight {
  color: black;
}

table {
  border-collapse: separate;
  border-spacing: 0px 0px;
}

th,
td {
  padding-right: 25px;
}

/*
//  transform: skew(0deg, 4deg);
  background-color: white;
*/

.b1 {
  transform: skew(0deg, -4deg) translateY(25px);
  background-color: white;
}

.background_2 {
  margin-top: -50px;
  padding-top: 20px;
  background-color: #0092bf;
  padding-bottom: 100px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: white;
    font-size: 0.8em;
  }

  .content_sections {
    line-height: 25px;
  }

  #logo {
    width: 65%;
    margin-top: 0px;
    padding-bottom: 20px;
  }
}

/*
  display: flex;
  width: 100%;
  background-color: aquamarine; 
  align-items: center;
  position: fixed;
  font-size: 1.5em;


#navbar_ul_items {
  
  flex-direction: row-reverse;
  align-self: center;
  list-style-type: none;
  margin: 0;
  background-color: pink;
  font-size: 1.7em;
}

li{
  padding-left: 5px;
}

#menu_icon{
display: inherit;
color:pink;
position: absolute;
  right: 10px;
}

.menu_show {
  display: block;
  overflow-y: hidden;
  background-color: rgba(255,255,255,0);
}

.menu_hide {
  display: none;

}

*/

/*




.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


*/
