@import url('https://fonts.googleapis.com/css?family=Gupter&display=swap');


body {
  margin: 0;
  font-family: 'Gupter', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}




